<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-grid>
    <ion-row justify-content-around>
      <ion-col size="3">
        <div>
            <ion-img (click)="alert()" src="http://worldartsme.com/images/add-clipart-1.jpg" alt=""></ion-img>
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          <ion-img (click)="sendAlert()" src="http://www.clker.com/cliparts/a/x/q/L/G/9/delete-icon-md.png" alt=""></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
