<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      User Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-list>
    <ion-item>
      <ion-note slot="start">Name:</ion-note>
      <ion-label>{{ this.auth.userInfo.name }}</ion-label>
    </ion-item>
    <br>
    <ion-item>
      <ion-note slot="start">Email:</ion-note>
      <ion-label>{{ this.auth.userInfo.email }}</ion-label>
    </ion-item>
  <br>
    <ion-item>
      <ion-note slot="start">Trust Level:</ion-note>
      <ion-label [hidden]="!this.auth.userInfo.trustLevel">{{ this.auth.userInfo.trustLevel }}</ion-label>
      <ion-label [hidden]="this.auth.userInfo.trustLevel">Error</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
      <ion-button expand="block" color="danger" (click)="this.auth.signOut()">
          Logoff
        </ion-button>
  </ion-toolbar>
</ion-footer>