<ion-header>
  <ion-toolbar>
    <ion-title>Administrator tools</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input #city></ion-input>
    </ion-item>
    <ion-button (click)="this.logic.createCity(city.value)"> Create </ion-button>
    <ion-button (click)="this.logic.removeCity(city.value)"> Remove </ion-button>
    <ion-button (click)="this.logic.suspendCity(city.value)"> Suspend </ion-button>
  </ion-list>
</ion-content>